@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

.paragraph {
  font-size: 1.4rem;
  color: white;
}

.headingOne {
  font-size: 2.5rem;
}

.headingTwo {
  font-size: 2.2rem;
  color: white;
  padding-bottom: 10px;
}

.wrapper {
  padding: 50px 20px 0px;
}

.paragraph--date {
  font-size: 1.2rem;
  color: #b1b1b1;
  text-transform: uppercase;
}

.topSection {
  margin: 10px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topSection__buttonAddNewNote {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  background-color: black;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.topSection__buttonAddNewNote:hover {
  background-color: #009400;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.searchInput {
  width: 100%;
  border: none;
  background: #f1f1f2;
  padding: 10px;
  border-radius: 10px;
}

.searchInput::-webkit-input-placeholder {
  font-size: 1.6rem;
}

.searchInput:-ms-input-placeholder {
  font-size: 1.6rem;
}

.searchInput::-ms-input-placeholder {
  font-size: 1.6rem;
}

.searchInput::placeholder {
  font-size: 1.6rem;
}

.noteSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noteSectionArticle {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.note {
  position: relative;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  max-height: 30vh;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.5);
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.titleInput {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #f1f1f2;
  padding: 10px;
}

.titleInput::-webkit-input-placeholder {
  font-size: 1.6rem;
}

.titleInput:-ms-input-placeholder {
  font-size: 1.6rem;
}

.titleInput::-ms-input-placeholder {
  font-size: 1.6rem;
}

.titleInput::placeholder {
  font-size: 1.6rem;
}

.textArea {
  width: 100%;
  border: none;
  min-height: 60vh;
  min-width: 100%;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.addNotePage {
  display: none;
}

.toggleDisplayNone {
  display: none;
}

.toggleDisplayBlock {
  display: block;
}

.note100 {
  width: calc(100vw - 40px);
  max-height: 100% !important;
  z-index: 1;
}

.noteLenght30 {
  max-height: 100vh;
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
}

.noteLenght40 {
  max-height: 50vh;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}

.noteLenght50 {
  max-height: 50vh;
  background-color: #f42b03;
  background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
}

.noteLenght60 {
  max-height: 40vh;
  background-color: #52a7c1;
  background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
}

.noteLenght70 {
  max-height: 40vh;
  background-color: #00bfb2;
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
}

.noteLenght80 {
  max-height: 40vh;
  background-color: #fff000;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
}

.noteLenght90 {
  max-height: 40vh;
  background-color: #50d8d7;
  background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
}

.noteLenght100 {
  max-height: 30vh;
  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
}

.noteLenght120 {
  max-height: 30vh;
  background-color: #663dff;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
/*# sourceMappingURL=noteApp.css.map */